/* Styles for the website */

.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1px;
}
.gratLines {
    fill: none;
    stroke: rgb(119, 119, 119);
    stroke-width: .5px;
}
.map1 {
    border: medium solid #999;
}
.regions {
    fill: rgb(124, 123, 122);
    stroke: #CCC;
    stroke-width: 1px;
}
.gratBackground {
    fill: rgb(150, 182, 241);
}