/*Add CSS styles here*/


.tract {
    fill: rgba(15, 110, 74, 0.658);
    stroke: rgb(99, 124, 116);
    stroke-width: 1.5px;
}
.trail {
    stroke: rgb(181, 216, 205);
    stroke-width: 1.5px;
    /*fill:none;*/
}
.gratLines {
    fill: none;
    stroke: rgb(196, 189, 189);
    stroke-width: 1.5px;
}
.gratBackground {
    fill: rgb(160, 182, 241);
}
.state {
    fill: rgba(226, 226, 226, 0.932);
    stroke: #CCC;
    stroke-width: 1.5px;
    stroke-dasharray: 0.7%;
}
.path {
    fill: #4172d4;
}